* {
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    /*background-color: #f0f7f7;*/
    font-family: Verdana, Arial, sans-serif;
    /*background-image: url(../images/background.bmp);*/
    /*background-image: url(../images/little_pluses.png);*/
    /*background-image: url(../images/grey_wash_wall.png);*/
    background-image: url(../images/upfeathers.png);
    margin: 0;   
    height: 100%;
    padding: 0;
    min-height: 100%;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}

a:link {
    color: #734222;
    font-weight: normal;
    text-decoration: none;
}

a:link:hover {
    color: #0033ff;
    font-weight: normal;
    text-decoration: underline;
}
.center{   
    padding: 10px;
    margin: auto;
    font-size: 14px;
    text-align: center;
}
.center table{
    margin: auto;
    width: 50%;
    text-align: left;

}

h1{
    font-size: 30px;
}

h2{
    font-family: Verdana, Arial, sans-serif;
}

/* ///////////////////////////////////////////////////////
   левое (основное) меню */
#mainmenu{
    padding: 0;
    list-style-type: none;
    width: 13%;
    background-color:  #d0d0d0;
    margin-left: 10px;
    margin-right: auto;
    float: left;  
    border-bottom: 2px solid #f5fb09;
}
#mainmenu li {
    position: relative;
    border-left: 5px solid black;/*#f5fb09;*/
    border-bottom: 1px solid #6c6874;
}
#mainmenu a {    
    padding: 5px;
    text-decoration: none;
    /*font-weight: bold;*/
    display: block;
    color: black;
}
#mainmenu a:hover{
    background-color: #333333;
    color: #c0c0c0;  
}
#mainmenu-title{
    background-color:  #cb8c1d; 
    color: black; 
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 5px;
    border-left: 5px solid black;
    /*border-right: 2px solid #f5fb09;*/
    border-top: 2px solid #f5fb09;
    font-weight: bold;
}
.mainmenusub{
    display: none;
    background-color: #a65317;
}
.mainmenusub a{
    /*margin-left: 10px;*/  
    text-align: right;
}

/*///////////////////////////////////////////////////////*/
.clear-float-left{
    clear: left;
}
.clear-float-right{
    clear: right;
}
.clear-float{
    clear: both;
}

/*ссылки на рекламные продукты будут размещаться в два столбца в таблице*/
.mainframe {
    width: 68%;
    border-style: double;
    margin-left: 17%;
    margin-right: auto;
    text-align: center;   
}
.mainframe table{
    margin: 0 auto;
}
.mainframe table td{
    padding: 0;
    width: 5%;
    height: 300px;
    border-style: double; 
    background-color: black;
    border-color: #f5fb09;
}

/* ///////////////////////////////////////////////////////
  настройки верхнего горизонтального меню*/
#topmenu {
    padding: 0;
    margin-top: 0;
    /*list-style-type: none;*/
    /*background-color: #c0c0c0;*/

    top:0;
    border: 1px solid black;
}
#topmenu li { 
    display: inline-block; 
}
#topmenu a{
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    text-align: center;
} 
#topmenu a:hover {
    border-radius: 20px 5px;
    background-color: #0066FF;
}

/*//////////////////////////////////////////////////////////////////////
вкладки - типы (скидки, акции, распродажи...)
*/
#typeSale{   
    padding: 0;
    margin: 0;  
    width: 100%;
}
#typeSale li{
    height: 30px;
    width: 33.33%;

    display: inline;
    text-align: center;  
    float: left;   
    background-color: #4dbbf6; 
}

#typeSale a{    
    font-family: Verdana, Arial, sans-serif;
    font-size: medium;
    text-decoration: none;  
    color: aliceblue;
    display: block;
    height: auto;
}
#typeSale li:hover{
    background-color: #cb8c1d;
    color: #c0c0c0;     
}

/*//////////////////////////////////////////////////////////////////*/
.right{
    width: max-content;
    float:right;
    margin-left: auto;
    margin-right: 10px;
}

.title{
    background-color: #cb8c1d;
    /*background: url(../images/subtle_orange_emboss.png);*/
    color: aliceblue;
    margin-bottom: 20px;
}

.bottom{
    background-color: #242729;
    padding: 6px;
    font-size: 14px;
    line-height: 1.5;
    color: #b9bdc1;  
    text-align: center;
    width: 100%;
    bottom: 0;
    
    /*margin-top: 10px;*/
    position: relative;
margin-top:-100px;    
}
.bottom a{
    color: #99d4ff;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    position:relative;
}

.bottom, .empty {
    height: 100px;
}









